* { background-color:#C0DEED;}
button {
color: crimson;
background-color: white;
border-radius: 50px;
}
.sky {
position: absolute;
top:0px;left:0px;
width:100%;
height:100%;
text-align:center;
margin:0px;
padding:0px;
background-color:#C0DEED;
background: url(../Images/clouds.png) center top repeat-x;
animation: flying linear 10s infinite;
animation-play-state: running;
padding-top:300px;
padding-bottom:10px;
margin-top: 30px;

}
#company {
font-size: 2.64rem;
text-align: center;
color: white;
margin-top: -170px;
}

@-webkit-keyframes flying {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.slogan {
font-size: 2rem;
font-family: serif;
color: cornflowerblue;
animation-name: spin, slogan;
animation-timing-function: linear;
animation-duration: 10s;
animation-play-state: running;
min-width: 500px;
}
@-webkit-keyframes slogan {
    0% {transform: translateX(-500px); font-weight: 500; color: mediumblue;}
    25% {transform: translateX(50px); font-weight: 600; color: orange;}
    50% {transform: translateX(150px); font-weight: 800; color: mediumblue;}
    75% {transform: translateX(calc(100vw - 850px)) rotateX(180deg); font-weight: 500; color: orange;}
    90% {transform: translateX(200px); font-weight: 200; color: mediumblue;}
    100% {transform: translateX(10px); font-weight: 100; color: orange;}
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
