html{
    background-image: url(../Assignments/Images/bluetilestriangles.jpg);
    background-size: contain;
    background-color: cornflowerblue;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: darkblue;
    } 

h1 {
    color: #ffffff;
    text-align: center;
    font-family: 'Raleway', sans-serif;;
    font-size: 72px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #ffffff;
    
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 7px;
}
h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: darkblue;
    border-radius: 50px;
    margin-left: 540px;
    text-align: center;
    padding: 20px 20px;
    width: 100px;
    color: #fff;
}
.descriptions {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: darkblue;
    width: 33%;
    margin-left: 400px;
    text-align: justify;
    font-weight: bold;
    } 
.resultbox {
    border: 2px solid #ffffff;
    border-spacing: 20px;
    padding: 10px;

}
#work{
    border-radius: 7px;
    padding: 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    list-style: none;
    width: 33%;
    padding-left: 400px;
    
}
#grades{
    display: inline-block;
}
td, th {
    padding: 5px;
}
th {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
#totals {
    border-spacing: 20px;
    border: 2px solid #ffffff; 
}
#sidemenu {
    border-radius: 7px;
    padding: 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    list-style: none;
    
}
li, #menu {
    background-color: darkblue;
    border-radius: 50px;
    margin: 20px;
    text-align: center;
    color: #ffffff;
    line-height: 60px;
}
#menu {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
form, input{
    font-family: 'Roboto', sans-serif;
    color: darkblue;
}
.label {
    font-weight: bold;
}
.button{
    background-color: darkblue;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
a:visited {
    color: #ffffff;
}
a:link {
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: cornflowerblue;
}
.footer {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    word-spacing: 10px;
    }    

body > div{
    display:flex;
    flex-flow:row wrap;
    }
body > div > header, main, aside, footer{
    text-align: center;
    border-radius:7px;
    margin:10px;
    padding:20px;
    }
header{
    order:1;
    height:160px;
    flex:0 1 100%;
    background-color: darkblue;
    opacity: 60%;
    line-height: 30px;
    letter-spacing: 10px;
    word-spacing: 15px;
    }

main{
    order:2;
    min-height:400px;
    flex:1;
    background-color: cornflowerblue;
    opacity: 80%;
    }
aside{
    order:3;
    width: 300px;
    height: 750px;
    background-color: cornflowerblue;
    opacity: 80%;
    border-radius: 7px;
    padding: 20px 20px;
    }
footer{
    height:50px;
    order:4;
    flex:0 1 100%;
    background-color: darkblue;
    opacity: 65%;
    }